src/*.exe
src/joulecoin
src/joulecoind
src/test_joulecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.joulecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
joulecoin-qt
Joulecoin-Qt.app

# Unit-tests
Makefile.test
joulecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
